.txt-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.result-tips {
  position: fixed;
  top: 40%;
  left: 50%;
  width: 160px;
  height: auto;
  z-index: 1001;
  min-height: 34px;
  background: rgba(51, 51, 51, 0.85);
  margin-left: -80px;
  margin-top: -35px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #fff;
  text-align: center;
}
.result-tips p {
  color: white;
  font-size: 12px;
  text-align: center;
  margin: 10px 0;
}
#loading-data {
  position: fixed;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  top: 50%;
  left: 50%;
  z-index: 55555;
  text-align: center;
  display: block;
}
#loading-data.active .loding-img {
  -webkit-animation: turning 1s linear infinite;
  -moz-animation: turning 1s linear infinite;
}
#loading-data .loding-img {
  width: 40px;
  height: 40px;
  display: inline-block;
}
@keyframes turning {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes turning {
  to {
    -webkit-transform: rotate(360deg);
  }
}
#downloadCon {
  margin: 0 auto;
  max-width: 700px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  opacity: 1;
  max-height: 113px;
  display: inline-block;
  background-color: #FFEB3B;
}
#downloadCon .downloadBar-img {
  max-width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  opacity: 0;
  display: inline-block;
}
#downloadCon a {
  display: block;
  text-decoration: none;
  border: 0;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 420px) {
  #downloadCon {
    height: 78px;
  }
}
@media screen and (max-width: 380px) {
  #downloadCon {
    height: 71px;
  }
}
@media screen and (max-width: 320px) {
  #downloadCon {
    height: 61px;
  }
}
body {
  background-color: #f2f2f2;
  margin: 0 auto;
  padding: 0;
  max-width: 700px;
  overflow-x: hidden;
  word-wrap: break-word;
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
input {
  font-size: 14px;
}
button {
  font-size: 14px;
}
.btn {
  text-align: center;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #ffffff;
  margin-bottom: 40px;
  background-color: rgba(73, 144, 226, 0.75);
  border-radius: 4px;
}
.btn.active {
  background-color: #4990E2;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.none {
  opacity: 0.1;
  background-color: #f2f2f2;
}
#wrapper {
  background-color: #FFE747;
  height: 100%;
}
#wrapper .register {
  text-align: center;
  margin: 0px 30px;
}
#wrapper .register .register-box {
  border-radius: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: #ffffff;
}
#wrapper .register .register-box .register-img {
  height: 23px;
  margin: 8px 10px;
  width: 16px;
  background: url('../../img/wehchat/sprite.png') no-repeat;
}
#wrapper .register .register-box .register-code {
  border-radius: 4px;
  height: 40px;
  padding: 0px;
  border: none;
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}
#wrapper .register .register-box .register-code:focus {
  outline: none;
}
#wrapper .register .register-box .code-btn {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 4px;
  color: #9B9B9B;
  line-height: 40px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 2 90px;
  -ms-flex: 0 2 90px;
  flex: 0 2 90px;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}
#wrapper .register .register-box .code-btn.disabled {
  pointer-events: none;
}
#wrapper .register .register-box > hr {
  color: #FFE747;
}
#wrapper .register .register-box.phone {
  margin-top: 30px;
  margin-bottom: 15px;
}
#wrapper .register .register-box.phone .phone-img {
  -webkit-background-size: 38.4px 21.6px;
  background-size: 38.4px 21.6px;
  background-position: 0px 0px;
}
#wrapper .register .register-box.code {
  margin-bottom: 30px;
}
#wrapper .register .register-box.code .code-img {
  -webkit-background-size: 38.4px 21.6px;
  background-size: 38.4px 21.6px;
  background-position: -24px 0px;
}
#wrapper .activity {
  width: 100%;
  text-align: center;
  position: relative;
  margin-bottom: 35px;
}
#wrapper .activity .activity-head {
  color: #383D43;
  text-align: center;
  margin-bottom: 20px;
}
#wrapper .activity .activity-head > span {
  padding: 0px 10px;
}
#wrapper .activity > img {
  max-width: 90%;
  display: inline-block;
}
#wrapper .activity .activity-txt {
  text-align: left;
  position: absolute;
  top: 32%;
  left: 15%;
  width: 70%;
  font-size: 13px;
  color: #383D43;
  line-height: 22px;
}
#wrapper .activity .activity-txt > div {
  padding-bottom: 5px;
}
#wrapper .coupon {
  margin: 20px 15px 30px 15px;
  background-color: rgba(251, 192, 0, 0.3);
  padding: 15px;
  border-radius: 4px;
  text-align: center;
}
#wrapper .coupon .coupon-count {
  color: #9b9b9b;
  margin: 15px 0px;
}
#wrapper .coupon .coupon-count > span {
  padding-left: 5px;
  color: #4A90E2;
}
#wrapper .coupon .ticket#one {
  margin-bottom: 15px;
}
#wrapper .coupon .btn-active {
  text-align: center;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #ffffff;
  background-color: #4990E2;
  border-radius: 4px;
  margin: 0px;
}
#wrapper .reward {
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
}
#wrapper .reward .reward-title {
  color: #383D43;
}
#wrapper .reward .reward-title > span {
  padding: 0px 10px;
}
#wrapper .reward .reward-box {
  margin: 22px 30px;
  text-align: left;
}
#wrapper .reward .reward-box .reward-img {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}
#wrapper .reward .reward-box .reward-name {
  display: inline-block;
  vertical-align: 12px;
  margin-left: 10px;
}
#wrapper .reward .reward-box .reward-time-box {
  display: inline-block;
  width: 73px;
  float: right;
  line-height: 40px;
}
#wrapper .reward .reward-box .reward-time {
  color: #9b9b9b;
  display: inline-block;
}
#wrapper .reward-title:before {
  width: 22% !important;
}
#wrapper .reward-title:after {
  width: 22% !important;
}
#wrapper .second-title:before {
  content: '';
  margin-left: 15px;
  width: 32%;
  display: inline-block;
  border-bottom: 4px dotted #ffffff;
  vertical-align: 3px;
}
#wrapper .second-title:after {
  content: '';
  margin-right: 15px;
  width: 32%;
  display: inline-block;
  border-bottom: 4px dotted #ffffff;
  vertical-align: 3px;
}
@media screen and (max-width: 320px) {
  .active .active-txt {
    font-size: 10px;
  }
}
